[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers
[submodule "vendor/lv_web_emscripten"]
	path = vendor/lv_web_emscripten
	url = https://github.com/lvgl/lv_web_emscripten
[submodule "vendor/lv_port_linux"]
	path = vendor/lv_port_linux
	url = https://github.com/lvgl/lv_port_linux
